# Ignore compiled python files
*.pyc

# Ignore html files
*.html

# Ignore old files
*old

# Ignore bash script files
*.sh

# Ignore txt files
src/data/*.txt

# Ignore Mac files
.DS_Store

# Ignore .original files
*.original

# Ignore PyCharm project files
.idea/